.dashboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .dashboard-item{
    margin: 5px;
    padding: 10px;
    min-height: 100vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    .card{
      padding: 20px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .card:last-child{
      margin-bottom: 0;
    }
  }
  .dashboard-modal{
    position: fixed;
    background: #00000050;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .dashboard-modal-content{
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 8px;
      padding: 20px;
      width: 60%;
    }
  }
}
@media (max-width: 992px) {
  .dashboard{
    grid-template-columns: 1fr;
    .dashboard-item{
      min-height: unset;
    }
  }
}